{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Enter Listing</h2>

    <form action= "{%url 'enter'%}" method = "POST">
        {% csrf_token %}
        <div class = from-group>
            <label for="title">Listing Title </label><br>
            <input type="text" name="title" class="form-control" id="title" placeholder="Enter a title:"><br><br>
        </div>
        <div class = from-group>
            <label for="image">Listing Image </label><br>
            <input type="text" name="image" class="form-control" id="image" placeholder="Enter image URL:"><br><br>
        </div>
        <div class = from-group>
            <label for="price">Listing Price </label><br>
            <input type="number" name="price" class="form-control" id="price" placeholder="Enter a price:"><br><br>
         </div>
         <div class = from-group>
            <label for="category">Select category</label><br>
            <select name="category" id="category">
            {% for cat in categories %}
                <option value="{{cat}}">{{cat}}</option>
            {% endfor %}
            </select>
        </div>
        <br><br><div class = from-group>
            <label for="description">Listing Description </label><br>
            <input type="text" name="description" class="form-control input-lg"  id="description" placeholder="Enter a description:"><br><br>
        </div>
        <!-- bootstrap -->
        <button class="btn btn-primary" type="submit">Submit</button> 
      </form>

{% endblock %}