{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
        <form avtion="{% url 'showgroup'%]" method="POST">
            {% csrf_token %}
            <label for="category">Select category</label><br>
            <select name="category" id="category">
                {% for cat in categories %}
                    <option value="{{cat}}">{{cat}}</option>
                {% endfor %}
            </select>
        <br><button type="submit" class="btn btn-primary">Show Category</button><br>

        </form>
        {% for listing in listings %}
            <div class="row mx-3">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{{ listing.image }}" alt="{{ listing.title}}">
                    <div class="card-body">
                        <!-- <p class="card-text">{{listing.datetime}}</p> -->
                        <h5 class="card-title">{{listing.title}}</h5>
                        <p class="card-text">{{listing.price}}</p>
                        <p class="card-text">{{listing.creator}}</p>
                        <p class="card-text">{{listing.description}}</p>
                        <a href="{% url 'listing' id=listing.id %}" class="btn btn-primary">Details</a>
                    </div>
                </div>
            </div>
            <h1> {{ listings.title }}</h1>
        {% endfor%}
{% endblock %}